<% provide(:title, 'Users') %>
<style>
		h1 {
			text-align: center;
			font-family: arial;
			font-size: 20px;
		}
		
		body {
			text-align: center;
		}
		
		form {
			margin: 0 auto;
			font-weight: bold;
			color: black;
			text-align: left;
		}
		
		#form_field {
			width: 160px;
		}
		
		#buttons {
			width: 150px;
			display: inline-block;
			padding-left: 6px;
		}
		
</style>
<body>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name, "First Name" %><br>
    <%= f.text_field :first_name, :id => "form_field" %>
  </div>
  
  <div class="field">
    <%= f.label :last_name, "Last Name" %><br>
    <%= f.text_field :last_name, :id => "form_field" %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, :id => "form_field" %>
  </div>
  <div class="actions" id="buttons">
  	<a href=<%= users_path %>><button type="button" id="small_button">Back</button></a>
    <%= f.submit "Create", :id => "small_button" %>
  </div>
<% end %>
</body>