<% provide(:title, 'Users') %>
<style>		
		h1 {
			text-align: center;
			font-family: arial;
			font-size: 20px;
		}
		
		table {
			border-collapse: collapse;
			width: 0 auto;
			margin: 0 auto;
			empty-cells: show;
			
		}
		
		table tr th {
			border-bottom: 2px solid black;
		}
		
		table tr td {
		}
		
		table tr {
			text-align: left;
		}
		
		#navbar {
			width: 0 auto;
			margin: 0 auto;
			float: left;
		}
		
		#spacing {
			padding-right: 40px;
		}
		
		#id {
			text-align: center;
		}
		
		#bottom_border {
			border-top: 2px solid black;
			padding-top: 5px;
		}
</style>
<br />
<header id="logo"></header>
<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th id="id">#</th>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>


  <tbody>
    <% @users.each do |user| %>
      <tr>
      	<td id="id"><%= user.id %></td>
        <td id="spacing"><%= user.first_name %> <%= user.last_name%></td>
        <td id="spacing"><%= user.email %></td>
        <td><button id="table_button"><%= link_to 'Edit', edit_user_path(user) %></button></td>
        <td><button id="table_button"><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
  
  <tr>
  	<td id="bottom_border">
  		<div id="navbar">
			<a href="/"><button id="small_button">Home</button></a>
		</div>
  	</td>
  	<td id="bottom_border">
  		<div id="navbar">
			<a href="/manage"><button id="small_button">Return</button></a>
		</div>
  	</td>
  	<td id="bottom_border"></td>
  	<td id="bottom_border"></td>
  	<td id="bottom_border"><button id="table_button"><%= link_to 'New User', new_user_path %></button></td>
  </tr>
</table>

<br>



