<% provide(:title, 'Laptops') %>
<style>
		h1 {
			text-align: center;
			font-family: arial;
			font-size: 20px;
		}
		
		body {
			
		}
		
		form {
			margin: 0 auto;
			width: 150px;
			padding-right: 50px;
			font-weight: bold;
			color: black;
		}
		
		select {
			width: 150px;
		}
		
</style>

<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Available Laptops" %><br>
    <%= f.collection_select(:laptops_id, Laptop.where(:available => true), :id, :item_name) %>
  </div>
  <div class="field">
    <%= f.label "Select User" %><br>
    <%= f.collection_select(:users_id, User.all, :id, :full_name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <a href="/"><button>Return</button></a>
  </div>
<% end %>
