<% provide(:title, 'Laptops') %>
<style>
		h1 {
			text-align: center;
			font-family: arial;
			font-size: 20px;
		}
		
		body {
			text-align: center;
		}
		
		form {
			margin: 0 auto;
			font-weight: bold;
			color: black;
			text-align: left;
		}
		
		select {
			width: 150px;
		}
		
		#avail_laptops {
			width: 150px;
		}
		
		#buttons {
			width: 150px;
			display: inline-block;
			padding-left: 1px;
		}
		
		
</style>

<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this checkout:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="avail_laptops">
    <%= f.label :laptops, "Available Laptops"  %><br>
    <%= f.collection_select(:laptops_id, Laptop.where(:available => true), :id, :item_name) %>
  </div>
  <div class="field">
    <%= f.label :users, "Select User" %><br>
    <%= f.collection_select(:users_id, User.all, :id, :full_name) %>
  </div>
  <div class="actions" id="buttons">
    <a href=<%= root_path %>><button type="button" id="small_button">Home</button></a>
    <%= f.submit "Check Out", :id => "small_button"%>
  </div>
<% end %>
