<% provide(:title, 'History') %>
<style>		
		h1 {
			text-align: center;
			font-family: arial;
			font-size: 20px;
		}
		
		table {
			border-collapse: collapse;
			width: 0 auto;
			margin: 0 auto;
			empty-cells: show;	
		}
		
		table tr th {
			border-bottom: 2px solid black;
		}
		
		table tr {
			text-align: left;
		}
		
		td {
			margin: 0 auto;
			padding-right: 5px;
			padding-left: 5px;
		}
		
		#navbar {
			width: 0 auto;
			margin: 0 auto;
			float: left;
		}
		#navbar2 {
			width: 0 auto;
			margin: 0 auto;
			float: right;
		}
		
		#spacing {
			padding-right: 40px;
		}
		
		#id {
			text-align: center;
		}
		
		#bottom_border {
			border-top: 2px solid black;
			padding-top: 5px;
		}
		a { color: #000; }
		a:visited { color: #000; }
		a:hover { color: #fff; background-color:#000; }
</style>
<br />
<header id="logo"></header>
<h1>Checkout History</h1>


<table>
  <thead>
    <tr>
      <th><div style='width: 150px'>Laptop</div></th>
      <th><div style='width: 150px'>Checked Out By</div></th>
      <th><div style='width: 150px'>Checked Out At</div></th>
      <th><div style='width: 150px'>Checked In At</div></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
    			<tr>
    				<td>
	    				<%= link_to LaptopsController.new.find_laptop_by_id(transaction.laptops_id),
	    				 :controller => "laptop_histories",
	    				  :action => "search",
	    				   :laptop_id => transaction.laptops_id %>
    				</td>
    				
    				<td>
	    				<%= link_to UsersController.new.find_user_by_id(transaction.users_id.to_i),
	    				 :controller => "user_histories",
	    				  :action => "search",
	    				   :user_id => transaction.users_id %>
    				</td>
    				
			        <td><%= TransactionsController.new.format_timestamp(transaction.checked_out_time) %></td>
			        <td><%= TransactionsController.new.format_timestamp(transaction.checked_in_time) %></td>
		    	</tr>
    <% end %>
    
  </tbody>
  
  <tr>
  	<td id="bottom_border">
  		<div id="navbar">
			<a href=<%= status_path %>><button id="small_button">Back</button></a>
		</div>
  	</td>
  	<td id="bottom_border"></td>
  	<td id="bottom_border"></td>
  	<td id="bottom_border">
  		<div id="navbar2">
			<a href=<%= root_path %>><button id="small_button">Home</button></a>
		</div>
  	</td>
  </tr>
  
  
</table>

<br>

