<% provide(:title, 'Laptops') %>
<style>
		h1 {
			text-align: center;
			font-family: arial;
			font-size: 20px;
		}
		
		body {
			
		}
		
		form {
			margin: 0 auto;
			width: 100px;
			padding-right: 50px;
			font-weight: bold;
			color: black;
		}
		
</style>
<body>
<%= form_for(@laptop) do |f| %>
  <% if @laptop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@laptop.errors.count, "error") %> prohibited this laptop from being saved:</h2>

      <ul>
      <% @laptop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_name %><br>
    <%= f.text_field :item_name, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :scan_code %><br>
    <%= f.text_field :scan_code, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :available %><br>
    <%= f.text_field :available, :disabled => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
	<a href=<%= laptops_path %>><button>Return</button></a>
  </div>
<% end %>
</body>