<% provide(:title, 'Laptops') %>
<style>
		h1 {
			text-align: center;
			font-family: arial;
			font-size: 20px;
		}
		
		body {
			text-align: center;
		}
		
		form {
			margin: 0 auto;
			font-weight: bold;
			color: black;
			text-align: left;
		}
		
		#form_field {
			width: 160px;
		}
		
		#buttons {
			width: 150px;
			display: inline-block;
			padding-left: 6px;
		}
		
</style>
<body>
<%= form_for(@laptop) do |f| %>
  <% if @laptop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@laptop.errors.count, "error") %> prohibited this laptop from being saved:</h2>

      <ul>
      <% @laptop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Item Name" %><br>
    <%= f.text_field :item_name, :id => "form_field" %>
  </div>
  <div class="field">
    <%= f.label "Scan Code" %><br>
    <%= f.text_field :scan_code, :id => "form_field" %>
  </div>
  <div class="actions" id="buttons">
    <a href=<%= laptops_path %>><button type="button" id="small_button">Back</button></a>
    <%= f.submit "Create", :id => "small_button" %>
  </div>
<% end %>
</body>

