<% provide(:title, 'Laptops') %>
<style>		
		h1 {
			text-align: center;
			font-family: arial;
			font-size: 20px;
		}
		
		table {
			border-collapse: collapse;
			width: 0 auto;
			margin: 0 auto;
			empty-cells: show;
			
		}
		
		table tr th {
			border-bottom: 2px solid black;
		}
		
		td, th {
			margin: 0 auto;
			padding-left:2px;
			padding-right:2px;
		}
		
		table tr {
			text-align: left;
		}
		
		#navbar {
			width: 0 auto;
			margin: 0 auto;
			float: left;
		}
		
		#spacing {
			padding-right: 40px;
		}
		
		#id {
			text-align: center;
		}
		
		#bottom_border {
			border-top: 2px solid black;
			padding-top: 5px;
		}
		a { color: #000; }
		a:visited { color: #000; }
		a:hover { color: #fff; background-color:#000; }
</style>
<br />
<header id="logo"></header>
<h1>Laptops</h1>

<table>
  <thead>
    <tr>
      <th id="id">#</th>
      <th>Item</th>
      <th>Scan Code</th>
      <th></th>
      <th></th>
    </tr>
  </thead>


  <tbody>
    <% @laptops.each do |laptop| %>
      <tr>
      	<td id="id"><%= laptop.id %></td>
    	<td id="spacing">
	    	<%= link_to "#{laptop.item_name}",
	    		:controller => "laptop_histories",
	    		:action => "search",
	    		:laptop_id => laptop.id %>
    	</td>
        <td id="spacing"> <%= laptop.scan_code%> </td>
        <td><button id="table_button"><%= link_to 'Edit', edit_laptop_path(laptop) %></button></td>
        <td><button id="table_button"><%= link_to 'Delete', laptop, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
  
  <tr>
  	<td id="bottom_border">
  		<div id="navbar">
			<a href="/manage"><button id="small_button">Back</button></a>
		</div>
  	</td>
  	<td id="bottom_border">
  		<div id="navbar">
			<a href=<%= root_path %>><button id="small_button">Home</button></a>
		</div>
  	</td>
  	<td id="bottom_border"></td>
  	<td id="bottom_border"></td>
  	<td id="bottom_border"><button id="table_button"><%= link_to 'New', new_laptop_path %></button></td>
  </tr>
</table>

<br>



